.accordioncontainer{
    display: flex;
    justify-content: space-between;
    margin:5px 50px 0 50px;
    border-bottom:1px solid #C7C7C7;
}

.container{
    border-bottom:1px solid #C7C7C7;
    margin:5px 70px 0 70px;
}

.childContainer{
    margin:0 5% 0 5%;
}


@media(max-width:600px){
    .accordioncontainer{
        all:unset;
        display: flex;
        justify-content: space-between;    
        border-bottom: 1px solid #C7C7C7;    
    }
}
