.navbar_container{
    display: flex;
    gap:25px;
    text-align: center;
    align-items: center;
    width:80%;
    margin:20px 2px 0 18px;
}

.navbar_container section{
    height:60px;
    width:120px;
    background-color: #C4C4C4;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:600px){
    .navbar_container{
        margin:40px 4px 0 250px;
    }

    .navbar_container section{
        height:60px;
        width:180px;
       /* text-align: center;
        vertical-align:middle;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
}